@import "tailwindcss";

body {
	background: #FFFFFF;
	color: #1E1E1E;
}

.text-primary {
	color: #1E1E1E;
}
.text-secondary {
	color: #343D48;
}
.text-white {
	color: #FFFFFF;
}
.bg-accent {
	background: #0F213708;
}